# ignore assignment 1 file:
assignment1_motion_planning_theory/aer1516_winter_2022_assignment_01.pdf

# ignore assignment 2 files:
assignment2_RRT_and_RRT_star/handin.tar
assignment2_RRT_and_RRT_star/rrt_planner.py
assignment2_RRT_and_RRT_star/rrt_star_planner.py